@font-face {
    font-family: 'SDGothic';
    src: url('../font/AppleSDGothicNeoM.ttf') format('truetype');
}

@font-face {
    font-family: KBO;
    src: url("../font/KBODiaGothic_medium.ttf") format("truetype");
}
.popup {
    position: absolute;
    box-sizing: border-box;
    border-radius: 6px;
    width: 700px;
    height: auto;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.formArea {
    display: flex;
    flex-direction: column;
}
.formContent {
    display: flex;
    flex-direction: row;
}
.formContent > div {
    padding: 2px;
}
.formContent > div:nth-child(1) {
    width: 200px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    border: 1px solid #d1d0d0;
    background: #e9e9e9;
}
.formContent > div:nth-child(1) > label {
    font-size: 14px;
    font-weight: bold;
}
.formContent > div:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #d1d0d0;
}
.formContent > div:nth-child(2)> input[type="text"] {
    height: 20px;
    border: 1px solid #dbdbdb;
}
input[type="text"]:focus {
    outline: 1px solid #4681f0;
}
textarea:focus {
    outline: 1px solid #4681f0;
}
.formContent > div:nth-child(2)> select {
    height: 20px;
    border: 1px solid #dbdbdb;
}
.formContent > div:nth-child(2)> textarea {
    border: 1px solid #dbdbdb;
    resize: none;
}
.formContent > div > div > input {
    height: 20px;
    border: 1px solid #dbdbdb;
}
.entButtons {
    display: flex;
    justify-content: end;
}
.entButtons > button {
    width: 150px;
    margin-right: 10px;
    margin-top: 5px;
}
.signButton > button {
    width: 100px;
}
button {
    border: none;
    background: #6195f6;
    font-size: 14px;
    color: #ffffff;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background: #4681f0;
    color: #ffffff;
}
.signInputs > input {
    margin-bottom: 2px;
}
.formSubmit {
    display: flex;
    justify-content: end;
}
input[type="submit"]{
    border: none;
    background: #6195f6;
    font-size: 14px;
    color: #ffffff;
    width: 50%;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: #4681f0;
    color: #ffffff;
}

#clearFile {
    color: red;
    cursor: pointer;
    margin-left: 10px;
    visibility: hidden;
}