@font-face {
    font-family: 'SDGothic';
    src: url('./font/AppleSDGothicNeoM.ttf') format('truetype');
}

@font-face {
    font-family: KBO;
    src: url("./font/KBODiaGothic_medium.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration-line: none;
    color: black;
}

html, body {

    width: 100%;
    min-width: 666px;
    background: #ffffff;
    font-family: "SDGothic", sans-serif;
}

header {
    width: 100%;
    height: 94px;
    padding-top: 20px;
    margin-bottom: -4px;
}

/* 헤더 */
.top {
    display: flex;
    justify-content: space-between;
}

.logobox {
    width: 150px;
    height: 50px;
    padding-left: 20px;
}

.right-menu {
    padding-right: 30px;
}

.title span {
    font-size: 19px;
    font-weight: 500;
}

.userspan {
    padding-right: 20px;
}

.logo {
    width: 130px;
}

.logoutbtn {
    border: 1px solid #E53935;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #E53935;
    cursor: pointer;
}

.logoutbtn:hover {
    background-color: #E53935;
    color: #ffffff;
}

.line1 {
    border-top: 1px solid #dadada;
    padding-top: 13px;
}

.main-menu {
    width: 100%;
    height: 40px;
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

ul.main-menu > li {
    display: inline-block;
    width: 80px;
    padding: 5px 1px;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}

ul.main-menu > li:hover ul.sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    border: 1px solid rgb(187, 187, 187);
    background-color: rgb(226, 226, 226);
    position: absolute;
    margin-top: 8px;
    height: 110px;
    cursor: pointer;
    margin-left: 3px;
}

.sub-menu > li {
    margin-top: 11px;
    text-align: center;

}


.left-menu {
    width: 30%;
    height: 890px;
    min-width: 334px;
}

.tree-menu {
    padding: 15px;

}

.main-tree-ul {
    padding-top: 6px;
    display: block;
}

.main-tree-li {
    padding-left: 18px;
    background: url(./script/bg_tree_branch.gif) no-repeat 9px -22px;

}

.main-tree-ul {
    background: url(./script/bg_tree_stream.gif) repeat-y 9px 0;
    margin: 0;
    padding: 0;
}

.sub-tree-ul {
    background: url(./script/bg_tree_stream.gif) repeat-y 9px 0;
    display: block;
}

.tree-sub-li {
    padding-left: 18px;
    background: url(./script/bg_tree_branch.gif) no-repeat 9px -22px;
}

.tree-last-li {
    padding-left: 18px;
    margin-bottom: 25px;
    background: url(./script/bg_tree_branch_last.gif) no-repeat 9px -22px;
}

.main-tree-ul li img {
    vertical-align: middle;
    overflow: hidden;
}

.main-tree-li-last {
    padding-left: 18px;
    background: url(./script/bg_tree_branch_last.gif) no-repeat 9px -22px;

}

.treelabel {
    margin-left: 3px;
    vertical-align: top;
    text-decoration: none;
}

/* 메인 */
.middleContainer {
    display: flex;
    min-height: 100vh;

}

.mainColumn {
    max-height: 100%;
    width: 100%;
    border-left: 1px solid rgb(226, 226, 226);
}

.mainTitleBar {
    height: 25px;
    background-color: rgb(226, 226, 226);
    padding: 5px;
    border-top: 1px solid rgb(197, 196, 196);
}

.mainTitleBar > span {
    line-height: 25px;
}

.btndiv1 > button {
    width: 50px;
    height: 25px;
    background-color: rgb(83, 83, 83);
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

.btndiv1 > button:hover {
    background-color: #8f8f8f;
}

.btndiv2 > button {
    width: 50px;
    height: 25px;
    background-color: rgb(83, 83, 83);
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

.btndiv2 > button:hover {
    background-color: #8f8f8f;
}

.btndiv1 {
    margin-right: 10px;
}

.btnbox {
    float: right;
    margin-right: 25px;
    display: flex;
}

.map {
    border: 1px solid black;
    height: 20vh;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    min-width: 815px;
    max-width: 815px;
}
.form-group{
    min-width: 815px;
}
.form-group > input[type="text"] {
    width: 122px;
    margin-right: 5px;
}

.form-group > label {
    margin-right: 8px;
    min-width: 815px;
    max-width: 815px;
}

#main_build_nm, #sub_build_nm {
    width: 50px;
}

#main_build_nm {
    margin-right: 2px;
}

.doroNm {
    margin-left: 25px;
}

.searchbtn {
    height: 30px;
    width: 30px;
    border: 1px solid rgb(165, 165, 165);
    background-image: url("./script/search.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    margin-left: -10px;
    position: relative;
    left: 20px;
    top: 8px;
}

.building-detail {
    margin-top: 19px;
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 815px;
    max-width: 815px;
}

#num {
    color: #E53935;
    font-weight: 600;
}

.building-file {
    width: 200px;
    height: 322px;
    border-right: 1px solid black;
    background-color: bisque;
    float: left;
}

#road_adr {
    margin-left: 15px;
    position: relative;
    top: 10px;
    margin-bottom: 40px;
}

.enterprise_table {
    margin-top: 60px;
    margin-left: 3px;
    border: 1px solid;
    height: 220px;
    width: 400px;
    margin-bottom: 3px;
}

.building_list {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}

#building_cd {
    border: 1px solid rgb(181, 181, 181);
    width: 170px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#building_nm {
    border: 1px solid rgb(181, 181, 181);
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.middle {
    display: inline-block;
}

.numofcase {
    position: relative;
    top: 58px;
    margin-left: 5px;
    font-size: 13px;
}

.thth {
    padding-left: 15px;
    padding-right: 80px;
    padding-top: 3px;
    font-weight: 500;
}

.line {
    border-top: 1px solid;
    position: relative;
    top: 30px;
    width: 380px;
    margin-left: 10px;
}

.tdtd {
    padding-top: 7px;
    padding-left: 15px;
}

.roaddiv {
    margin-top: 20px;
}

.road_span {
    font-size: 13px;
}

.road_width {
    border: 1px solid rgb(181, 181, 181);
    width: 170px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.road_length {
    border: 1px solid rgb(181, 181, 181);
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#rmk {
    border: 1px solid rgb(181, 181, 181);
    height: 100px;
    margin-top: 30px;
}

.building_table {
    margin-top: 40px;
    height: 343px;
    min-width: 815px;
    max-width: 815px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.buildingList {
    border-collapse: collapse;
    width: 100%;

}

.building_th {
    border: 1px solid black;
    border-top: 3px solid #818181;
    height: 30px;
    font-weight: 500;
}

.building_th:nth-child(1) {
    border-left: none;
}

.building_th:nth-child(7) {
    border-right: none;

}

.building_td {
    border: 1px solid black;
    font-size: 15px;
    height: 28px;
}

.building_td:nth-child(1) {
    border-left: none;
    text-align: right;
    padding-right: 9px;
}

.building_td:nth-child(2) {
    padding-left: 9px;
}

.building_td:nth-child(3) {
    padding-left: 13px;
}

.building_td:nth-child(4) {
    padding-left: 13px;
}

.building_td:nth-child(5) {
    padding-left: 13px;
}

.building_td:nth-child(6) {
    padding-left: 13px;
}

.building_td:nth-child(7) {
    border-right: none;
    padding-left: 13px;
}

.num2 {
    float: right;
    margin-bottom: 5px;
}